{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<h1>User List</h1>
<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td><a class="button" href="{% url 'admin:user-information' user.id %}">View Information</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}